@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Commons";
  src: url("../fonts/TTCommons-Regular.woff2") format("woff2"),
    url("../fonts/TTCommons-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Commons";
  color: #101010;
}
